{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default" style=" background-color: #2f2f2f;">
        <div class="container">
            <div class="navbar-header align-center">
                <a class="navbar-brand" style="color: #fff;">Myfirst App</a>
            </div>
        </div>
    </nav>

    <!-- First Container -->
    <!-- {{Payload}} -->
    <div class="container" style="margin-top: 4rem;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 border bg col-sm shade" style="padding-top: 10px;">
                <h3 style="text-align: center; "><b>Thank You !!! </b></h3>
                <hr>
                <a class="btn signupbtn" href="{% url 'home' %}">GO Back</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>

</html>